DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=nexus_edu
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsImVtYWlsIjoiYWRtaW5AbmV4dXMuZWR1Iiwicm9sZXMiOlsiYWRtaW5pc3RyYWRvciJdLCJpYXQiOjE3OTA4MjAyMjYsImV4cCI6MTc5MDgyMzgyNn0.nOvN6xBJmhw6sFCrmCp6ekQJhs4-m3DwvjKi-We18Mo
ADMIN_EMAIL=admin@nexus.edu
ADMIN_PASSWORD=Admin123
ADMIN_NAME=Administrador
PORT=3000